*.SCC
*.vbw
gamedata.dat
/*.dat
/DLLs
/OSE.exe
/Created.txt
Debug
/Package/Install OSE 0.0.1.exe
/Package/Install OSE 0.1.0.exe
/Package/Install OSE 0.1.5.exe
/Package/Install OSE 0.1.6.exe
/Package/Old
